@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../webfonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../webfonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../webfonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

html {
    overflow-y: auto !important;
}

body {
    font-family: 'Roboto',sans-serif !important;
    padding: 0 0 0 0 !important;
}

.light, .light:hover {
    color: #fff;
}

.navbar {
    min-height: 3.25rem !important;
}

.section {
    margin: 1rem 1rem !important;
}

tbody, td, tfoot, th, thead, tr {
    border-bottom-color: #dee2e6 !important;
}

.menu-icon {
    color: #fff;
    font-size: 20px
}

.modal-header {
    border-bottom: 1px solid #dee2e6 !important;
}

.navbar-nav > a.text-white:focus, a.text-white:hover {
    color: #fff !important;
}

caption {
    margin-right: 1em;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1032;
}

.footer {
    padding: 20px !important;
}

.scrollbar-inner {
    overflow: hidden;
}

.btn-check:focus+.btn-warning, .btn-warning:focus {
    color: #fff !important;
    border-color: #fb6340 !important;
    background-color: #fb6340 !important;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%) !important;
}

.dataTables_filter {
    display: none !important;
}

table.dataTable.no-footer {
    border-bottom: none !important;
}

.table-responsive {
    overflow-x: scroll;
    height: 60vh;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
      background-color: hsl(200, 20%, 80%);
  }
  100% {
      background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text-body {
  display: inline-block;
  width: 100px;
  height: 25px;
}

.skeleton-footer-body {
  display: inline-block;
  width: 45px;
  height: 20px;
}
